@font-face{
    font-family: myFont;
    src: url('google.ttf');
}
body{
    font-family: 'myFont';
    text-align: center;
    font-size: 50px;
    font-weight: 300;
    margin-top: 200px;
    color: white;
}

