@font-face{
    font-family: myFont;
    src: url('google.ttf');
}
body{
    font-family: 'myFont';
    background-color: royalblue;
    text-align: center;
    font-size: 100px;
    font-weight: 300;
    margin-top: 200px;
}

